div{
    height:120px;
    width:350px;
    background-color: white;
    margin:80px;
    position:relative;
    /* white-space: nowrap; */
}

div::before{
    content:'';
    height:100%;
    width:100%;
    background:white;
    position:absolute;
    top:0%;
    right:0;
    animation: 3s ease-in-out 1s infinite test
}


@keyframes test{
    to{width:0%;}
}